/* src/index.css */

/* Basic reset and global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth theme transition */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Theme specific styles will be applied via classes on the body in App.js */
.light-mode {
  background-color: #f0f2f5; /* Light background */
  color: #333; /* Dark text */
}

.dark-mode {
  background-color: #282c34; /* Dark background */
  color: #f0f2f5; /* Light text */
}